:root {

--dark-electric-blue: #526F76;
--pastel-blue: #B5CACD;
--sunray: #D9AC59;
--silver-pink: #C7A9AE;
--dust-storm: #E6CDCC;

/* tints */
--dark-electric-blue-tint-1: #758C91;
--dark-electric-blue-tint-2: #869A9F;
--dark-electric-blue-tint-3: #97A9AD;
--dark-electric-blue-tint-4: #A9B7BB;
--dark-electric-blue-tint-5: #BAC5C8;
--dark-electric-blue-tint-6: #CBD4D6;
--dark-electric-blue-tint-7: #DCE2E4;
--dark-electric-blue-tint-8: #EEF1F1;

/*Tones */
--dark-electric-blue-tone-1:#5B7278;
--dark-electric-blue-tone-2:#607479;
--dark-electric-blue-tone-3:#64767A;
--dark-electric-blue-tone-4:#69787B;
--dark-electric-blue-tone-5:#6E797C;
--dark-electric-blue-tone-6:#727B7D;
--dark-electric-blue-tone-7:#777D7E;
--dark-electric-blue-tone-8:#7B7E7F;

/* Shades */
--dark-electric-blue-shade-1:#42595E;
--dark-electric-blue-shade-2:#394E53;
--dark-electric-blue-shade-3:#314347;
--dark-electric-blue-shade-4:#29383B;
--dark-electric-blue-shade-5:#212C2F;
--dark-electric-blue-shade-6:#192123;
--dark-electric-blue-shade-7:#101618;
--dark-electric-blue-shade-8:#080B0C;

/* Tints */
--pastel-blue-tint-1: #C4D5D7;
--pastel-blue-tint-2: #CBDADC;
--pastel-blue-tint-3: #D3DFE1;
--pastel-blue-tint-4: #DAE5E6;
--pastel-blue-tint-5: #E1EAEB;
--pastel-blue-tint-6: #E9EFF0;
--pastel-blue-tint-7: #F0F4F5;
--pastel-blue-tint-8: #F8FAFA;

/* Tones */
--pastel-blue-tone-1:#AABBBE;
--pastel-blue-tone-2:#A5B4B6;
--pastel-blue-tone-3:#A0ACAE;
--pastel-blue-tone-4:#9BA5A7;
--pastel-blue-tone-5:#959E9F;
--pastel-blue-tone-6:#909697;
--pastel-blue-tone-7:#8B8F8F;
--pastel-blue-tone-8:#858788;

/* Shades */
--pastel-blue-shade-1:#91A2A4;
--pastel-blue-shade-2:#7F8D90;
--pastel-blue-shade-3:#6D797B;
--pastel-blue-shade-4:#5B6567;
--pastel-blue-shade-5:#485152;
--pastel-blue-shade-6:#363D3E;
--pastel-blue-shade-7:#242829;
--pastel-blue-shade-8:#121415;

/* Tints */
--sunray-tint-1: #E1BD7A;
--sunray-tint-2: #E4C58B;
--sunray-tint-3: #E8CD9B;
--sunray-tint-4: #ECD6AC;
--sunray-tint-5: #F0DEBD;
--sunray-tint-6: #F4E6CD;
--sunray-tint-7: #F7EEDE;
--sunray-tint-8: #FBF7EE;

/* Tones */
--sunray-tone-1:#C7A361;
--sunray-tone-2:#BE9F65;
--sunray-tone-3:#B59A69;
--sunray-tone-4:#AD966D;
--sunray-tone-5:#A49270;
--sunray-tone-6:#9B8D74;
--sunray-tone-7:#928978;
--sunray-tone-8:#89847C;

/* Shades */
--sunray-shade-1:#AE8A47;
--sunray-shade-2:#98783E;
--sunray-shade-3:#826735;
--sunray-shade-4:#6D562D;
--sunray-shade-5:#574524;
--sunray-shade-6:#41341B;
--sunray-shade-7:#2B2212;
--sunray-shade-8:#161109;

/* Tints */
--silver-pink-tint-1: #D2BABE;
--silver-pink-tint-2: #D8C3C6;
--silver-pink-tint-3: #DDCBCE;
--silver-pink-tint-4: #E3D4D7;
--silver-pink-tint-5: #E9DDDF;
--silver-pink-tint-6: #EEE5E7;
--silver-pink-tint-7: #F4EEEF;
--silver-pink-tint-8: #F9F6F7;

/* Tones */
--silver-pink-tone-1:#B9A1A5;
--silver-pink-tone-2:#B29DA0;
--silver-pink-tone-3:#AB999C;
--silver-pink-tone-4:#A49597;
--silver-pink-tone-5:#9C9092;
--silver-pink-tone-6:#958C8E;
--silver-pink-tone-7:#8E8889;
--silver-pink-tone-8:#878485;

/* Shades */
--silver-pink-shade-1:#9F878B;
--silver-pink-shade-2:#8B767A;
--silver-pink-shade-3:#776568;
--silver-pink-shade-4:#645557;
--silver-pink-shade-5:#504446;
--silver-pink-shade-6:#3C3334;
--silver-pink-shade-7:#282223;
--silver-pink-shade-8:#141111;

    /* Tints */
--dust-storm-tint-1: #EBD7D6;
--dust-storm-tint-2: #EEDCDB;
--dust-storm-tint-3: #F0E1E0;
--dust-storm-tint-4: #F3E6E6;
--dust-storm-tint-5: #F5EBEB;
--dust-storm-tint-6: #F8F0F0;
--dust-storm-tint-7: #FAF5F5;
--dust-storm-tint-8: #FDFAFA;

/* Tones */
--dust-storm-one-1 :#D2BEBD;
--dust-storm-one-2 :#C7B6B5;
--dust-storm-one-3 :#BDAEAE;
--dust-storm-one-4 :#B3A7A6;
--dust-storm-one-5 :#A99F9E;
--dust-storm-one-6 :#9F9797;
--dust-storm-one-7 :#948F8F;
--dust-storm-one-8 :#8A8888;

/* Shades */
--dust-storm-shade-1:#B8A4A3;
--dust-storm-shade-2:#A1908F;
--dust-storm-shade-3:#8A7B7A;
--dust-storm-shade-4:#736766;
--dust-storm-shade-5:#5C5252;
--dust-storm-shade-6:#453E3D;
--dust-storm-shade-7:#2E2929;
--dust-storm-shade-8:#171514;
}