:root {

    /* my colors Navy, Gold & Peach, Bright, Summer-y Color Palette */
    --blue-dusk: #577371; /*  rgb(87,115,122)*/
    --mineral-blue: #BED2D5; /*  rgb(190,210,215)*/
    --golden-rod: #BCA446; /*  rgb(188,164,70)*/
    --light-peach: #FDECDF; /* rgb(253,236,223) */
    --peach: #F7B681; /* rgb(247,182,129) */
    --dusty-rose: #EFD5D5; /*rgb(239,213,213) */
    --white: #FFF;
    --light-rose: #CFB1B3;
    --rose: #BC7B7D;
    --mustard: #DAB457;
    --rosemary: #6F7A53;
    --sage: #C9C7AF;


    /* Navy, Gold & Peach, Bright, Summer-y Color Palette */
    --dark-background: var(--blue-dusk);
    --light-color: var(--mineral-blue);

    --light-background: var(--dusty-rose);
    --dark-font-color: var(--rosemary);

    --navigation-color: var(--peach);
    --navigation-color-lighter-shade: var(--light-peach);
    --navigation-color-secondary: var(--golden-rod);

    --secondary-light-color: var(--mustard);
    --secondary-dark-color: var(--rosemary);
}