/* Color Theme Swatches in Hex */
.brand-dark { color: #526F76; }
.brand-light { color: #E6CDCC; }
.accent-color-cold { color: #B5CACD; }
.accent-color-neutral { color: #B59F3B; }
.accent-color-warm { color: #F3E2D4; }


:root {
    --brand-dark: hsl(191 17% 39%);
    --brand-light: hsl(2 34% 85%);

    --accent-color-neutral: hsl(49 50% 47%);
    --accent-color-cold: hsl(187 19% 75%);
    --accent-color-warm: hsl(27 56% 89%);

    --brand-dark-hue: 191;
    --brand-dark-saturation: 17%;
    --brand-dark-lightness: 39%;

    --brand-light-hue: 2;
    --brand-light-saturation: 34%;
    --brand-light-lightness: 85%;

    --accent-neutral-hue: 49;
    --accent-neutral-saturation: 50%;
    --accent-neutral-lightness: 47%;

    --accent-cold-hue: 187;
    --accent-cold-saturation: 19%;
    --accent-cold-lightness: 75%;

    --accent-warm-hue: 27;
    --accent-warm-saturation: 56%;
    --accent-warm-lightness: 89%;
}
