{{ define "main" }}
<main class="content page-template page-{{ .Slug }}" role="main">
    <article class="post page">
        <div class="post-header">
            <div id="single-post-head-content">
                <div id="single-post-header-title">
                    <a href="/" class="header-logo">
                        <img id="blog-logo" alt="" src="/images/ensemble-logo-silverpink.svg" />
                    </a>
                    {{ with .Params.header_headline }}<span class="blog-title">{{ . }}</span>{{ end }}
                    {{ with .Params.header_sub_headline }}<span class="blog-description">{{ . }}</span>{{ end }}
                    <a href="{{ "/" | relURL }}"><span class="single-header-title"> {{ .Site.Title }}</span></a>
                </div>

            </div>
        </div>

        <nav class="breadcrumbs">
            <a href="{{ "/" | relURL }}">Startseite</a>
            {{ if gt (len (split .RelPermalink "/")) 2 }}
            {{ $segments := split .RelPermalink "/" }}
            {{ $path := "" }}
            {{ range $index, $segment := $segments }}
            {{ if and (ne $segment "") (lt $index (sub (len $segments) 2)) }}
            {{ $path = printf "%s/%s" $path $segment }}
            <span>/</span>
            <a href="{{ $path | relURL }}">{{ $segment | humanize }}</a>
            {{ end }}
            {{ end }}
            {{ end }}
            <span>/</span>
            <span class="current">{{ .Title }}</span>
        </nav>


        <h1 class="post-title">{{ .Title | htmlEscape }}</h1>
        <section class="post-content single">
            {{ .Content }}
        </section>
    </article>
</main>
{{ end }}

