<footer class="site-footer">
    <div class="row">
        <div class="column">
            <a href="/rheinhessen/coworking-wonnegau/">Coworking in der VG Wonnegau</a>
            <a href="/rheinhessen/coworking-harxheim-gau-bischofsheim/">Coworking in der VG Bodenheim</a>
        </div>
        <div class="column">
            <a href="/rheinhessen/">Coworking Rheinhessen</a>
            <a href="/rheinhessen/coworking-rhein-selz/">Coworking in der VG Rhein-Selz</a>
            <hr>
            <a href="/impressum/">Impressum</a>
            <a href="/datenschutz/">Datenschutz</a>
            {{ with .Site.Params.copyright }}
            <section class="copyright">{{ . | markdownify }} {{ now.Year }}</section>
            {{ end }}
        </div>
        <div class="column">
            <a href="/rheinhessen/coworking-woerrstadt/">Coworking VG Wörrstadt</a>
            <a href="/rheinhessen/coworking-nieder-olm/">Coworking VG Nieder-Olm</a>
        </div>
    </div>
</footer>