<footer class="site-footer">
    <div class="row">
        <div class="column">
            <a href="/coworking-wonnegau/" target="_blank">Coworking in der VG Wonnegau</a>
            <a href="/coworking-harxheim-gau-bischofsheim/" target="_blank">Coworking in der VG Bodenheim</a>
        </div>
        <div class="column">
            <a href="/coworking-rheinhessen/" target="_blank">Coworking Rheinhessen</a>
            <a href="/coworking-rhein-selz/" target="_blank">Coworking in der VG Rhein-Selz</a>
            <hr>
            <a href="/impressum/" target="_blank">Impressum</a>
            <a href="/datenschutz/" target="_blank">Datenschutz</a>
            {{ with .Site.Params.copyright }}
            <section class="copyright">{{ . | markdownify }} {{ now.Year }}</section>
            {{ end }}
        </div>
        <div class="column">
            <a href="/coworking-woerrstadt/" target="_blank">Coworking VG Wörrstadt</a>
            <a href="/coworking-nieder-olm/" target="_blank">Coworking VG Nieder-Olm</a>
        </div>
    </div>
</footer>