<footer class="site-footer">
    <div class="row">
        <div class="column">
            <a href="/coworking-mommenheim" target="_blank">Coworking Mommenheim</a>
            <a href="/coworking-harxheim" target="_blank">Coworking Harxheim</a>
            <a href="/coworking-gau-bischofsheim" target="_blank">Coworking Gau Bischofsheim</a>
        </div>
        <div class="column">
            <a href="/coworking-rheinhessen" target="_blank">Coworking Rheinhessen</a>
            <hr>
            <a href="/impressum" target="_blank">Impressum</a>
            <a href="/datenschutz" target="_blank">Datenschutz</a>
            {{ with .Site.Params.copyright }}
            <section class="copyright">{{ . | markdownify }} {{ now.Year }}</section>
            {{ end }}
        </div>
        <div class="column">
            <a href="/coworking-selzen" target="_blank">Coworking Selzen</a>
            <a href="/coworking-undenheim" target="_blank">Coworking Undenheim</a>
            <a href="/coworking-kongernheim" target="_blank">Coworking Köngernheim</a>
            <a href="/coworking-zornheim" target="_blank">Coworking Zornheim</a>
        </div>
    </div>
</footer>